<ion-navbar *navbar>
	<ion-title>{{ product.name }}</ion-title>
</ion-navbar>

<ion-content padding class="product-detail">

	<img src="{{ product.images[0]['productDetail-thumbnail-full'] }}" tappable (click)="showImageDetail(0)">

	<ion-scroll scrollX="true"  class="item imageSlider">
		<ion-row>
			<ion-col width-33 *ngFor="#image of product.images; #i = index" class="img-{{i}}">
				<img src="{{ image['productDetail-thumbnail'] }}" tappable (click)="showImageDetail(i)">
			</ion-col>
		</ion-row>
	</ion-scroll>

	<h1>{{ product.name }}</h1>
	<h2>{{"from" | translate }} <span>{{ product.brandName }}</span></h2>

	<ion-list>
		<ion-item>
			<p class="price">
				{{ product.priceInfo.price | money }} {{ product.priceInfo.currency}}
			</p>
			<p *ngIf="product.priceInfo.retailPrice && product.priceInfo.price != product.priceInfo.retailPrice" class="retailPrice">
				{{ product.priceInfo.retailPrice | money }} {{ product.priceInfo.retailPriceCurrency}}
			</p>
			<button item-right (click)="redirect()" class="buttonMedium">
				{{ "addToCart" | translate }}
			</button>
		</ion-item>
		<ion-item>
			<ul class="stock">
				<li *ngIf="!product.longTermCampaign">
					<ion-icon name="ios-clock-outline"></ion-icon>
					<span class="text">
						{{ "salesEndsAt" | translate }} <strong>{{ product.campaignEndAt | timeLeft }}</strong>
					</span>
				</li>
				<li>
					<ion-icon name="cube"></ion-icon>
					<span class="text">{{ product.stockInfo.stockInfoText }}</span>
				</li>
				<li *ngIf="product.stockInfo.stockWarningText" class="stock-warning">
					<ion-icon name="ios-alert-outline"></ion-icon>
					<span class="text">{{ product.stockInfo.stockWarningText }}</span>
				</li>
				<li *ngIf="product.priceInfo.shippingPrice == null" class="stock-success">
					<ion-icon name="ios-checkmark-circle-outline"></ion-icon>
					<span class="text">{{"thisProductHave" | translate }} <strong> {{"freeShipping" | translate }}</strong></span>
				</li>
			</ul>
		</ion-item>
	</ion-list>

	<p class="product-detail-description">{{ product.description }}</p>

	<ion-list>
		<ion-item *ngFor="#item of product.properties" class="prop">
			<span class="propName">
				{{item.name}}
			</span>
			<span class="propValue">
				{{item.value}}
			</span>
		</ion-item>
	</ion-list>
</ion-content>
