.product-detail {

	.imageSlider {
		padding: 0;
		margin: 0;

		scroll-content{
			padding: 0;
			position: relative;
		}

		ion-row {
			padding-left: 0;
			padding-right: 0;
		}

		.img-0 {
			margin-left: -5px;
		}
	}
}
