// http://ionicframework.com/docs/v2/theming/


// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.

@import "../pages/campaigns-list/campaigns-list.scss";
@import "../pages/campaign-detail/campaign-detail.scss";
@import "../pages/product-detail/product-detail.scss";
@import "../pages/image-detail/image-detail.scss";
@import "../pages/settings/settings.scss";

// Bonami fonts
@font-face {
	font-family: 'bnmType300';
	src: url('../../fonts/bnmType300.eot');
	src: url('../../fonts/bnmType300.eot') format('embedded-opentype'),
	url('../../fonts/bnmType300.woff2') format('woff2'),
	url('../../fonts/bnmType300.woff') format('woff'),
	url('../../fonts/bnmType300.ttf') format('truetype'),
	url('../../fonts/bnmType300.svg#bnmType300') format('svg');
}
@font-face {
	font-family: 'bnmType500';
	src: url('../../fonts/bnmType500.eot');
	src: url('../../fonts/bnmType500.eot') format('embedded-opentype'),
	url('../../fonts/bnmType500.woff2') format('woff2'),
	url('../../fonts/bnmType500.woff') format('woff'),
	url('../../fonts/bnmType500.ttf') format('truetype'),
	url('../../fonts/bnmType500.svg#bnmType500') format('svg');
}
@font-face {
	font-family: 'bnmType700';
	src: url('../../fonts/bnmType700.eot');
	src: url('../../fonts/bnmType700.eot') format('embedded-opentype'),
	url('../../fonts/bnmType700.woff2') format('woff2'),
	url('../../fonts/bnmType700.woff') format('woff'),
	url('../../fonts/bnmType700.ttf') format('truetype'),
	url('../../fonts/bnmType700.svg#bnmType500') format('svg');
}


// Navbar bottom border
.toolbar-background {
	border-width: 0 0 1px;
	border-style: solid;
}


ion-spinner {
	background-image: url('../../images/loader.png');
	background-repeat: no-repeat, no-repeat;
	background-size: 49px 49px;
	position: relative;
	width: 49px;
	height: 49px;
	margin: 0px;
	padding: 0px;
	-webkit-animation: spin 0.8s linear infinite;
	-moz-animation: spin 0.8s linear infinite;
	animation: spin 0.8s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); } }
