<ion-navbar *navbar>
	<ion-title>{{ campaign.name }}</ion-title>
</ion-navbar>

<ion-content class="campaign-detail">

	<div class="campaign-header">
		<h1>{{ campaign.name }}</h1>
		<p *ngIf="campaign.description" [innerHtml]="campaign.description"></p>
		<span *ngIf="campaign.niceUrl === 'skladovky'" class="product-count">
			<strong>{{ campaign.productCount }}</strong> nejoblíbenějších kousků skladem
		</span>
		<span *ngIf="!campaign.longTerm" class="time-left">
			<ion-icon name="ios-clock-outline"></ion-icon>
			Kampaň končí za <strong>{{ campaign.endAt | timeLeft }}</strong>
		</span>
	</div>

	<ion-card *ngFor="#product of products">
		<div (click)="showProduct(product)">
			<img src="{{ product.images[0]['productDetail-thumbnail-full'] }}">

			<ion-card-content>
				<ion-card-title>
					{{ product.name }}
				</ion-card-title>
			</ion-card-content>
		</div>

		<ion-list>
			<ion-item>
				<p *ngIf="product.stockInfo.stockWarningText" class="product-warning">
					{{ product.stockInfo.stockWarningText }}
				</p>
				<p *ngIf="product.priceInfo.retailPrice && product.priceInfo.price != product.priceInfo.retailPrice" class="retailPrice" >
					{{ product.priceInfo.retailPrice | money }} Kč
				</p>
				<button item-right (click)="redirect(product.url)" class="button-medium">
					{{ product.priceInfo.price | money }} Kč
					<ion-icon name="cart"></ion-icon>
				</button>
			</ion-item>
		</ion-list>
	</ion-card>

	<ion-infinite-scroll (infinite)="doInfinite($event)">
		<ion-infinite-scroll-content loadingSpinner="bonami-loader"></ion-infinite-scroll-content>
	</ion-infinite-scroll>
</ion-content>