<ion-navbar *navbar>
  <ion-title>{{ campaign.name }}</ion-title>
</ion-navbar>

<ion-content padding class="campaign-detail">

  <ion-card *ngFor="#product of products">

    <div (click)="showProduct(product)">
      <img src="{{ product.images[0]['productDetail-thumbnail-full'] }}">

      <ion-card-content>
        <ion-card-title>
          {{ product.name }}
        </ion-card-title>
      </ion-card-content>
    </div>

    <ion-row>
      <ion-col width-70>
        <p>
          {{ product.stockInfoText }}
        </p>
        <p *ngIf="product.stockWarningText != ''">
          {{ product.stockWarningText }}
        </p>
      </ion-col>
      <ion-col width-30>
        <a href="{{product.url}}">
          <button secondary>
            {{ product.price }}
            <ion-icon name="cart"></ion-icon>
          </button>
        </a>
      </ion-col>
    </ion-row>


  </ion-card>

</ion-content>